@import url("all.css");
.filter{
	margin: 10px 0;
	font-size: 14px;

}
.filter .cat1,.cat2{
	background: #fff;
	height: 30px;
	padding: 20px;
	border: 1px solid #eee;
	line-height:10px; 
}
.filter ul{
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
}
.filter ul>li{
	display: inline-block;
	padding: 10px;
}
.filter ul>li>a{
	color: #666;
	box-sizing: border-box;
}
.filter span{
	color: #999;
}
.bck_red{
	background: #d32048;
	border-radius: 3px;
	
}
.seation_list{
	margin-top: 40px;
	width: 100%;
}
.seation_list .list .list_img{
	width: 20%;
	display: inline-block;
	margin-right: 5%;
	position: relative;
}
.seation_list .list .list_img .buy{
	position: relative;
	float: right;
	right: -25px;
	width: 30px;
	height: 30px;
	border: 1px solid #d32048;
	border-radius: 20px;
}
.seation_list .list .list_img .buy:hover .tooltiptext{
	display: block;
}
.seation_list .list .list_img .buy .tooltiptext{
	position: absolute;
	display: none;
	width: 60px;
	height: 20px;
	bottom: 40px;
	right: -20px;
	z-index: 1;
	background: #000;
	opacity: 0.7;
	border-radius: 5px;
	padding: 3px 5px;
	color: #fff;
}
.seation_list .list .list_img .buy .tooltiptext::after{
	display: block;
	position: absolute;
	bottom: -10px;
	right: 30px;
	content: "";
	border-width: 5px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
}
.seation_list .list .list_img .buy img{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.seation_list .list .list_img>a:first-child:hover{
	display: inline-block;
	box-shadow: 0 0 5px #d8d8d8;
}
.seation_list .list .last_list_img{
	margin-right: 0%;
}
.seation_list .list .list_img img{
	width: 100%;
}
.seation_list .list .list_img >span:nth-child(2){
	display: block;
	font-size: 16px;
	margin-top: 10px;
}
.seation_list .list .list_img >span:nth-child(4){
	font-size: 14px;
	color: #d32048;
}
.no_more{
	font-size: 16px;
	text-align: center;
	color: #666;
	padding: 40px 0px;
}